:root {
    --backgroundColor: #1e1e2f;
    --primaryColor: #ff6e6e;
    --secondaryColor: #6eafff;
    --primaryText: #ffffff;
    --secondHighlight: #f3f3f3;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 89px - 65px);
}

.container h1 {
    font-size: 5rem;
    color: var(--primaryColor);
}

.container p {
    font-size: 1.2rem;
    color: #cccccc;
    margin: 20px 0;
}

.container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primaryText);
    background: linear-gradient(135deg, var(--primaryColor), var(--secondaryColor));
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.container a:hover {
    background: linear-gradient(135deg, var(--secondaryColor), var(--primaryColor));
    transform: scale(1.05);
}

.container {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primaryText);
    margin-bottom: 10px;
}

.logo span {
    color: var(--primaryColor);
}